.meme{
    padding: 20px 40px;
}
.meme form .inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meme form .inputs input{
    width: 49%;
    padding: 8px 5px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}
.meme form .inputs input:focus{
    outline: none;
}
.meme form .inputs input::placeholder{
    color: #0D0D0D;

}
.meme form .get-img{
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(90deg ,#672280,#A626D3);
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}